@{
    ViewBag.Title = "TchrTotchr";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="showtime1" style="overflow-y:auto">
    <table>
        <caption>Teacher's Evaluation</caption>
        <thead>
            <tr style="font-size:16px;border: 2px solid black;">
                <th>Teacher's Evaluated ID</th>
                <th>Teacher's Evaluated name</th>
                <th>Teacher's Id Evaluated By</th>
                <th>Teacher's Name Evaluated By</th>
                <th>Rating in %</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in ViewBag.list)
            {
                <tr>
                    <td>@v.TchrId_Evaluted</td>
                    <td>@v.TchrName_Evaluated</td>
                    <td>@v.TchrId_EvaluatedBy</td>
                    <td>@v.TchrName_EvaluatedBy</td>
                    <td>@v.results</td>
                </tr>
            }
        </tbody>
    </table>
</div>

