@using QMS.Models

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/marquee.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />


    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>

    <script src="~/Scripts/marquee.js"></script>

</head>

<body>
    <div class="content">
        <div class="container">
            <div class="marquee-sibling" style=" background-color:rgba(53, 126, 189, 0.67) !important; ">
                News Alerts
            </div>
            <div class="marquee">

                <ul class="marquee-content-items">

                    
                    @foreach (var xx in Model)
                    {
                        <li>
                            <a style="color:white;text-decoration:none">@xx.News </a>
                            <a href="@xx.Link">.READ MORE</a>
                        </li>
                    }
                </ul>



            </div>



        </div>
        <footer>

            <script>
                $(function () {

                    createMarquee({
                    });
                });

            </script>
        </footer>
    </div>

    <div>

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("index")" style="font-size:xx-large;">Pucit QMS</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a href="#" id="b7"> About Us</a></li>
                </ul>
            </div>
        </nav>
    </div>


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img">

        <img class="img1" src="~/images/Evaluation-Time-Money.jpg" />
        <div id="div1">
            @RenderBody()
        </div>
    </div>


    <!--Login Form-->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="background-color: rgba(53, 126, 189, 0.67); color: white;">
                <button id="close" type="button" class="close" style="margin-right:-100px;color:white" data-dissmiss="modal">&times;</button>
                <h4 class="modal-title" style="font-size:xx-large;margin-left:25px">Login</h4>
                <div class="modal-body">

                    <form action="/Home/Login" method="post">
                        <div class="form-group " style="padding-left:125px">


                            <label for="UserName">UserName</label>
                            <input id="UserName" name="UserName" value="" type="text" style="color:black">
                            <br />
                            <br />
                            <label for="Pin">Pin</label>
                            <input id="Pin" name="Pin" value="" type="password" style="color:black">

                            <br />
                            <br />
                            <input value="Login" class="btn btn-default " type="submit">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Login Form End-->
    

    



   

    <div class="clearfix"></div>
    <div id="footerOuterWrapper">
        <div id="footerWrapper">

            <div class="footer">


                <p>&nbsp;</p>


                <div class="row other-links center-block">
                    <div class="col-sm-3 col-xs-6">
                        <b><span class="glyphicon glyphicon-phone grey-circle" aria-hidden="true"></span>Contact us</b><br>
                        <p style="color: rgba(53, 126, 189, 1)">
                            T: 000 000 0000<br>
                            E:<small> <a href="#">pucit@pucit.edu.pk</a></small><br>
                        </p>

                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <b><span class="glyphicon glyphicon-map-marker grey-circle" aria-hidden="true"></span>Find us</b><br>
                        <p style="color: rgba(53, 126, 189, 1)">
                            PUCIT<br>
                            Punjab University<br>
                            Old Campus <br>
                            Mall-Road Lahore<br>
                        </p>

                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <b><span class="glyphicon glyphicon-info-sign grey-circle" aria-hidden="true"></span>Learn more</b><br>
                        <p>
                            <a href="#">Terms of Use</a><br>
                            <a href="#">Privacy Policy</a><br>
                            <a href="#">Blog</a><br>
                            <a href="#">FAQ</a>
                        </p>

                    </div>


                </div>
                <div id="copyright" style="color: rgba(53, 126, 189, 1)">
                    Copyright (c) ZK, 2016. All rights reserved. Reproduction in whole or in part without permission is prohibited.<br>
                    Pucit - pu old campus mall road lahore - Company Number: 00000000 - Mob: 00000000<br>

                </div>

                <div class="row social-links center-block" style="max-width:230px;">

                    <div id="social12" class="col-xs-4 img-circle"><a href="https://www.facebook.com/" target="_blank"><img src="~/images/footer-fb.png" /></a></div>
                    <div id="social13" class="col-xs-4 img-circle"><a href="https://twitter.com/" target="_blank"><img src="~/images/footer-twitter.png" /></a></div>

                    <div id="social14" class="col-xs-4 img-circle"><a href="https://plus.google.com/" target="_blank"><img src="~/images/gmail-footer.png" /></a></div>
                </div>


            </div>
        </div>
    </div>
</body>
</html>


<script>

    $(document).ready(function () {
        $('#close').click(function () {

            $('#myModal').modal('hide');

        });



    });



</script>
